.history-container {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.success {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}

.actions-container {
  margin-top: 20px;
}
