mat-form-field {
  margin-right: 20px;
  width: 200px;
}

table {
  margin-top: 15px;
  width: 100%;
}

.info-log {
  color: green;
  font-weight: bold;
}

.warning-log {
  color: orange;
  font-weight: bold;
}

.error-log {
  color: red;
  font-weight: bold;
}
